<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/product/new" method="post">
        <label for="">Product name: </label>
        <input type="text" name="productName">
        <br><br>
        <label for="">Product price: </label>
        <input type="number" name="price">
        <br><br>
        <label for="">Product description: </label>
        <input type="text" name="description">
        <br><br>
        <label for="">Product image url: </label>
        <input type="text" name="imageUrl">
        <br><br>
        <button type="submit">Add</button>
    </form>
</body>
</html>